.externalclass{
    background-color: #54db815f;
    font-size:60px;
}

.extclass2{
    background-color: #ffc107;
}

.btn-prim{
    color: red;
    font-size: 24;
    background-color: magenta;
    padding: 20px 30px;
    
}